<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="SpaceBeans.SpaceBeansGameHost">
        <endpoint binding="wsDualHttpBinding" contract="SpaceBeans.ISpaceBeansGameHost" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>